<div>
  <%= paginate comments %>
</div>
  <% unless comments.empty? %>
    <%= render :partial => 'opinio/comments/comment', :collection => comments %>
  <% else %>
    <h3><%= t('opinio.messages.no_comments_found') %></h3>
  <% end %>

<div>
  <%= paginate comments %>
</div>
